    <html>
        <head>
            <title>P-Blog</title>
        </head>
        <body>
            <div>
                <h1><a href="">Пыстеблог на Django</a></h1>
            </div>

            {% for post in posts %}
                <div>
                    <p>ПыстЬ опубликовал эту запись: {{ post.published_date }}</p>
                    <h1><a href="">{{ post.title }}</a></h1>
                    <p>{{ post.text|linebreaks }}</p>
                </div>
            {% endfor %}

        </body>
    </html>